<!-- app/views/shared/_flash_messages.html.erb -->
<% if flash.any? %>
  <div data-controller='flash-message' class='inset-0 p-6 items-start justify-end'>
    <div class='flex flex-col items-center justify-center'>
      <% flash.each do |type, message| %>
        <div class='relative flex px-4 py-3 space-x-2 border <%= color_classes(flash[:type]) %>' role='alert'>
            <strong class='font-bold'><%= flash[:message] %></strong>
            <span class='pl-5'>
            <%= heroicon 'x-mark', options: { class: 'w-6 h-6 fill-current', role: 'button' } %>
        </span>
    </div>
      <% end %>
    </div>
  </div>
<% end %>