<%- products.each do |p| %>
    <tr>
        <td class="text-center py-3 px-4 justify-center">
            <span class="flex items-center justify-center m-2">
                <%= image_tag p.first_photo_url(:thumb) if p.first_photo.present? %>
            </span>
        </td>
        <td class="w-1/3 text-left py-3 px-4">
            <%= link_to p.sku, product_path(p) %>
        </td>
        <td class="w-1/3 text-left py-3 px-4">
            <%= p.name %>
        </td>
        <td class="text-left py-3 px-4">
            <%= p.count %>
        </td>
        
    </tr>
<% end %>