 <div class="w-full overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <h1 class="text-3xl text-black pb-6">Dashboard</h1>
            <div class="w-full mt-12">
                <div>
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-list mr-3"></i> Products
                    </p>
                    <%= form_with url: products_path, method: :get do |f| %>
                        <%= f.search_field :q, value: params[:q], placeholder: "Search" %>
                    <% end %>
                </div>
                <div class="bg-white overflow-auto">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-800 text-white">
                            <tr>
                                <th class="justify-center">Photo</th>
                                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">SKU</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Name</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Count</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                            <%= render "product_list", products: @products %>
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="">
            <%= paginate @products %>
        <div>
    </main>
    
    <footer class="w-full bg-white text-right p-4">
    </footer>
</div>