 <div class="w-full overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <h1 class="text-3xl text-black pb-6">Export</h1>
            <div class="w-full mt-12">
                <div class="bg-white overflow-auto">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-800 text-white">
                            <tr>
                                <th class="justify-center">Export ID</th>
                                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">User</th>
                                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Status</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                            <%= render "export_list", exports: @exports %>
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="">
            <%= paginate @exports %>
        <div>
    </main>
    
    <footer class="w-full bg-white text-right p-4">
    </footer>
</div>